{% extends 'base_home.html' %}

{% block content %}

{% load staticfiles %}
<div class="parallax bg-img-1"></div>

<div class = "parralax_text">
        Being an informed citizen is hard and time-consuming... sometimes even alienating to some of us.
        mDx seeks to provide a way to make being an informed citizen fun and easy!
</div>

<div class="parallax bg-img-2" style ="min-height:1000px"></div>

<div class = "parralax_text">        
    you can demand an answer from a decision maker explaining?
    if they do not answer: booo
    if they do: you can judge how engaged they are with your POV and whether they have considered your POV
    politicians worth their salt will care about reputation so your votes on their posts will be received a significant signal.
    empowering direct democracy, but how to keep it in check?
    quora? filtering ft for experts?
    bad participants can receive: foul mouth badge, liar badge, etc.
    users can nominante badges for topics and other users? PeopleBadge and PeopleVote.

</div>
<div class="parallax bg-img-3"></div>

<div class = "parralax_text">
    We intend LDX to be a place where you can feel at home being a citizen of the republic, instead of feeling alienated.

    each decision makers' post will have an accompanying set of tags showing which subpopulations have been the "authorial audience" and "ambassadorial audience"

    our service provides values to our host organizations and their communities of interest by promoting buy-in and engagement through participatory democracy

    hate being talked at but finding it too hard to talk with one another? knocking on doors and sending bulk emails and postcards not your thing? but have too much spare time on the phone or computer? We may be your answer!

    differences should define perspectives, not positions
</div>
<div class="parallax bg-img-4"></div>


    {% endblock %}